.tournament__title {
    text-align: center;
    margin-bottom: 40px;
}

.tournament__description {
    text-align: start;
    margin-bottom: 40px;
}

.tournament__field {
    text-align: center;
    background: aquamarine;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.tournaments__form {
    padding: 10px 0 0;
    height: 400px;
}

.tournaments__buttons {
    display: flex;
    justify-content: space-evenly;
}

.btn--save {
    background: brown;
}

.btn--edit {
    background: #3d093d;
}
