<section class="tournaments">
            <h3 class="tournament__title">Round-robin tournament</h3>
            <p class="tournament__description">A round-robin tournament is a competition in which each team or player plays against every other team or player once. In this format, all participants have an equal number of games, and the winner is determined based on the total number of points earned throughout the tournament. This format is often used in sports such as tennis, football (soccer), and chess, as well as in other types of competitions.</p>
            <div class="tournament__field">
                <div class="tournaments__form">Form in progress</div>
                <div class="tournaments__buttons">
                    <button class="btn btn--save" type="button">Save</button>
                    <button class="btn btn--edit" type="button">Edit</button>
                </div>
            </div>
</section>