<header class="body__header">
    {{> ../../component/header/header }}
</header>
<main class="body__main container">
    {{> ../../component/introduction/introduction }}
    {{> ../../component/tournament_option/option }}
    {{> ../../component/faq/fAQ }}
    {{> ../../component/tournament/tournament }}
</main>
<footer class="body__footer">
    {{> ../../component/footer/footer }}
</footer>