.options {
    margin-bottom: 40px;
}

.test {

}
.options__title {
    text-align: center;
    margin-bottom: 40px;
}

.options__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5%;
}

.options__item {
    width: 45%;
    border: 1px solid #000000;
    margin-bottom: 5%;
}



.options__item:nth-last-child(-n+2) {
    margin-bottom: 0;
}