<section class="options">
    <h2 class="options__title">Tournament options</h2>
    <ul class="options__list">
        <li class="options__item"><a href="#" class="options__link"></a>Round-Robin tournament</li>
        <li class="options__item"><a href="#" class="options__link"></a>In progress</li>
        <li class="options__item"><a href="#" class="options__link"></a>In progress</li>
        <li class="options__item"><a href="#" class="options__link"></a>In progress</li>
    </ul>
</section>