.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px
}

.introduction__wrapper {
    margin: 10px auto 0;
    width: 45%;
}

.introduction-title {
    text-align: center;
    border: 1px solid #00008B;
    background-color: #007FFF;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    margin-bottom: 40px;
    padding: 10px;
}

.introduction-subtitle {
    display: block;
    text-align: center;
    border: 1px solid #00008B;
    background-color: #007FFF;
    border-radius: 6px;
    color: #ffffff;
    margin-bottom: 40px;
    padding: 10px;
}

.introduction__img {
    object-fit: fill;
    border: 1px solid #000000;
    background: aquamarine;
    align-self: stretch;
    width: 45%;
    height: 100%;
    margin: 10px auto 0;
}

.introduction__button {
    display: flex;
    justify-content: center;
}