<section class="introduction">
    <div class="introduction__wrapper">
        <h1 class="introduction-title">Create a simple and quick tournament schedule</h1>
        <h2 class="introduction-subtitle">Just add players, choose tournament system and start. Save here or import
            tournament results to Excel sheet</h2>
        <div class="introduction__button">
            {{> ../../component/button/button }}
        </div>
    </div>
    <img src="../../image/round-robin-intro-test.png" width="352" height="188" alt="round-robin-sample"
         class="introduction__img">
</section>