.header__wrapper {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo__wrapper {
    display: block;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    margin-right: 21px;
}

.header__item:nth-child(4) {
    margin-right: 0;
}




