<body class="page__body">
    <ul>
        <li class="navbar-item">
            <a href="#" id="main-page-link">Main</a>
        </li>
        <li class="navbar-item">
            <a href="#" id="tournament-page-link">Tournament</a>
        </li>
    </ul>
    <div id="page"></div>
</body>
