<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler</title>
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <link href="font/css/fontawesome.css" rel="stylesheet">
</head>
<body>
  {{> app }} 
</body>
</html>
