<section class="fAQ">
    <h2 class="fAQ__title">FAQ</h2>
    <ul class="fAQ__list">
        <li class="fAQ__item">
            <h3 class="fAQ__question">1</h3>
            <p class="fAQ__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
        <li class="fAQ__item">
            <h3 class="fAQ__question">2</h3>
            <p class="fAQ__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
        <li class="fAQ__item">
            <h3 class="fAQ__question">3</h3>
            <p class="fAQ__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
    </ul>
</section>